@charset "utf-8";

#logo{
    background-color: palevioletred;
    color: white;
    font: 80px courier;
    text-align: center;
    text-shadow: pink 4px 4px 8px;
    border: double pink 8px;
    letter-spacing: 10px;
}